langgraphfastapi
uvicorn
requests
jinja2
celery
redis
sqlalchemy
psycopg2-binary
oracledb
python-dotenv
passlib[bcrypt]
# AI Models
faster-whisper
edge-tts
opencv-python
deepface
ollama
langchain
langchain-community
langgraph
# File Processing
PyMuPDF
python-docx
# Analytics
pandas
matplotlib

arize-phoenix
openinference-instrumentation-langchain
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp